{% extends 'cico_app/base.html' %}

{% block title %}Event List | CICO{% endblock %}


{% block scanner %}
<!--Scanner Section-->
<div class="container align-content-center p-5">
    <form action="/scan/" method="post" class="scan-new">{% csrf_token %}
        <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">Scanner</span>
            <input type="text" class="form-control" aria-label="Scanner input" name="scanner" minlength="87"
                   aria-describedby="inputGroup-sizing-lg" placeholder="Scan CAC here..." autofocus required>
        </div>

    </form>
</div>
{% endblock %}

{% block content %}
<!--Event Listing-->
<div class="container-fluid">
<table class="table table-sm table-hover bg-light">
    <caption>List of Events</caption>
    <thead>
    <tr>
        <th scope="col">Initiator</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Buddy</th>
        <th scope="col">Location</th>
        <th scope="col">Base</th>
        <th scope="col">Check Out</th>
        <th scope="col">Check In</th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
    <tr>
        <th scope="row"><a href="{% url 'event_detail' pk=event.pk %}">{{ event.initiator }}</a></th>
        <th scope="row">{{ event.initiator.phone }}</th>
        <th scope="row">
            {% if event.buddy %}
            {{ event.buddy }}
            {% else %}
            No Buddies
            {% endif %}
        </th>
        <th scope="row">{{ event.location }}</th>
        <th scope="row">
            {% if event.base == True %}
            On
            {% else %}
            Off
            {% endif %}
        </th>
        <th scope="row">{{ event.check_out|date:'Ymd@Hi' }}</th>
        <th scope="row">
            {% if event.check_in %}
            <div class="bg-success">{{ event.check_in|date:'Ymd@Hi' }}</div>
            {% else %}
            <div class="bg-danger">Not checked in</div>
            {% endif %}
        </th>
        </th>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
