{% extends 'cico_app/base.html' %}

{% block title %}Event Detail | CICO{% endblock %}

{% block content %}

<h1>Event Detail</h1>

<div class="row">
    <div class="col-4">
        <h2>Initiator Information</h2>

        <h4>{{ event.initiator }}</h4>
        <p>{{ event.initiator.phone }}</p>
        <p>{{ event.initiator.branch }}</p>
        <p>{{ event.initiator.edipi }}</p>
        <p>{{ event.initiator.category }}</p>
    </div>
    <div class="col">
        <h2>Event Information</h2>
    </div>
</div>


<div>

    {% if event.buddy.all %}
    <p>
        {% for bud in event.buddy.all %}
        - {{ bud }} -
        {% endfor %}
    </p>
    {% else %}
    <p>No buddies</p>
    {% endif %}

    <p>{{ event.check_out }}</p>
    <p>{{ event.check_in }}</p>
    <p>{{ event.location }}</p>
    <p>{{ event.complete }}</p>
</div>

{% endblock %}