{% extends 'cico_app/base.html' %}

{% block title %}Event Detail | CICO{% endblock %}

{% block content %}

<h1>Event Detail</h1>
<div class="row">
    <div class="col p-5">
        <div class="card text-center">
            <div class="card-header">
                Initiator
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ event.initiator }}, {{ event.initiator.edipi }} / {{ event.initiator.branch }}</h3>
                <p class="card-text">Component: <b>{{ event.initiator.category }}</b></p>
                <p class="card-text">Phone Number: <b>{{ event.initiator.phone }}</b></p>
                <p class="card-text">Company: <b>{{ event.initiator.get_company_in_battalion_display }}</b></p>
            </div>
            <div class="card-footer text-muted">
                Initiator
            </div>
        </div>
    </div>
    <div class="col p-5">
        <div class="card text-center">
            <div class="card-header">
                Event
            </div>
            <div class="card-body">
                <p class="card-text">Location: <b>{{ event.location }} -
                    {% if event.base == True %}
                    On Base
                    {% else %}
                    Off Base
                    {% endif %}
                    </b></p>
                <p class="card-text">Buddy: <b>{{ event.buddy}}</b></p>
                <p class="card-text">Check Out: <b>{{ event.check_out|date:'Ymd@Hi' }}</b></p>
                <p class="card-text">Check In: <b>
                    {% if event.check_in %}
                    {{ event.check_in|date:'Ymd@Hi' }}
                    {% else %}
                    Not Checked In yet...
                    {% endif %}
                </b></p>
            </div>
            <div class="card-footer text-muted">
                Event
            </div>
        </div>
    </div>
</div>


{% endblock %}