{% extends 'cico_app/base.html' %}

{% block title %}Person Edit | CICO{% endblock %}

{% block content %}

<div class="row bg-secondary">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <h1 class="display-4 py-2 text-truncate">Review Info</h1>
        <div class="px-2">
            <form action="" method="post" class="justify-content-center">{% csrf_token %}

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">EDIPI</span>
                    </div>
                    <input type="text" class="form-control" name="edipi" value="{{ person.edipi }}" maxlength="11" required="" id="id_edipi" readonly>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Rank</span>
                    </div>
                    <input type="text" class="form-control text-uppercase" name="rank" value="{{ person.rank }}" required="" id="id_rank" readonly>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Last Name</span>
                    </div>
                    <input type="text" class="form-control text-uppercase" name="lname" value="{{ person.lname }}" required="" id="id_lname" readonly>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">First Name</span>
                    </div>
                    <input type="text" class="form-control text-uppercase" name="fname" value="{{ person.fname }}" required="" id="id_fname" readonly>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Branch</span>
                    </div>
                    <input type="text" class="form-control text-uppercase" name="branch" value="{{ person.branch }}"  required="" id="id_branch" readonly>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Category</span>
                    </div>
                    <input type="text" class="form-control text-uppercase" name="category" value="{{ person.category }}" required="" id="id_category" readonly>
                </div>

                <span class="badge badge-pill badge-danger">Update Please</span>
                <div class="input-group input-group-lg mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Phone</span>
                    </div>
                    <input type="text" class="form-control bg-info font-italic text-warning" name="phone" value="{{ person.phone }}" required="" id="id_phone" placeholder="Input a phone number">
                    <div class="input-group-append">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="id_company_in_battalion">Company:</label>
                    <select name="company_in_battalion" id="id_company_in_battalion">
                        {% if person.company_in_battalion == '-' %}<option value="-" selected>---</option>{% else %}<option value="-">---</option>{% endif %}
                        {% if person.company_in_battalion == 'A' %}<option value="A" selected>Alpha</option>{% else %}<option value="A">Alpha</option>{% endif %}
                        {% if person.company_in_battalion == 'B' %}<option value="B" selected>Bravo</option>{% else %}<option value="B">Bravo</option>{% endif %}
                        {% if person.company_in_battalion == 'DCO' %}<option value="DCO" selected>DCO-IDM</option>{% else %}<option value="DCO">DCO-IDM</option>{% endif %}
                        {% if person.company_in_battalion == 'HQ' %}<option value="HQ" selected>Headquarters</option>{% else %}<option value="DCO">Headquarters</option>{% endif %}
                        {% if person.company_in_battalion == 'SVC' %}<option value="SVC" selected>Service</option>{% else %}<option value="SVC">Service</option>{% endif %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary btn-lg" autofocus>Verified</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
